<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project"
        tools:targetApi="31">

        <!-- Main Activity (App Entry Point) -->
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true" />

        <!-- Edit Mood Activity -->
        <activity
            android:name=".activities.EditMoodActivity"
            android:exported="true" />

        <activity android:name=".activities.AddingMoodActivity"/>

        <activity android:name=".activities.ProfileActivity" />

        <!-- FolloweesMoods Activity -->
        <activity android:name=".activities.FolloweesMoodsActivity" />


        <!-- FollowingUsers Activity -->
        <activity android:name=".activities.FollowingUsersActivity" />

        <!-- Common Space -->
        <activity android:name=".activities.CommonSpaceActivity" />
        <activity android:name=".activities.mood_mapActivity" />

        <activity android:name=".activities.FollowRequest" />

        <!-- Comment Activity-->
        <activity android:name=".activities.CommentActivity" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/my_map_api_key" />

        <receiver
            android:name=".utils.NetworkChangeReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>



    </application>
</manifest>
